name: Deploy to DigitalOcean

on:
  push:
    branches: [ "main" ]
  
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./onsen-backend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/onsen-backend:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push  # run after build-and-push
    steps:
      - name: Deploy to DigitalOcean via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DO_HOST }}
          username: ${{ secrets.DO_USERNAME }}
          key: ${{ secrets.DO_SSH_KEY }}
          # timeout
          command_timeout: 30m 
          script: |
            cd /root/anna_website/onsen-backend
            
            echo "Updating docker-compose.yml..."
            # ensure the file is the same as GitHub
            git fetch --all
            git reset --hard origin/main
            
            echo "Pulling latest Docker image..."
            docker compose pull onsen-backend
            
            echo "Restarting containers..."
            docker compose down
            docker compose up -d
            
            echo "Cleaning up..."
            docker image prune -f
            echo "Deployment completed successfully!"